@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');


@import "tailwindcss";

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
  

@theme {
    --color-background: #E9EDF0;
    --color-text-primary: #8C9FB1;
    --color-accent: #8E68D0;

    --font-title: "ZCOOL QingKe HuangYou", "sans-serif";
    --font-digital: "DotGothic16", "system-ui";
}